*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', ;
    background: #ccc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (max-width: 767px){
    .row_css{
        margin: 0 !important;
    }
    .td__style{
        min-width: 160px;
    }
    
}

.row_css{
    margin: 0 !important;
}

table{
    border:1px solid #174A84;
    width: 100%;
}

tr{
    border:1px solid #174A84;
}

td{
    height: 35px;
    border:1px solid #174A84;
}

.processing_table{
    margin-top: 30px;
    overflow: auto;
}

.style_td td{
    background: #174A84;
    color: white;
}

.td_style{
    background: #065184;
    color: white;
}

.info_ p{
    margin-top: 15px;
    color: #222222;
    text-align: left;
    margin-left: 15px;
}

.style_td_ p{
    color: #222222;
    padding: 5px;
}

.processing_button .it{
    height: 100%;
    line-height: 35px;
    width: 80%;
    border: none;
    background: #40B649;
    color: white;
}

.processing_button .yc{    
    line-height: 35px;
    height: 100%;
    width: 80%;
    border: none;
    background: #174A84;
    color: white;
}

.col__2{
    width: 50%;
}

.yc{
    margin-top: 20px;
}
