*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', ;
    background: #ccc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row_css{
    margin: 0 !important;
}

.detail_avatar img{
    border-radius: 50%;
    width: 100%;
}

.detail_a_1{
    color: #FF3366;
}

.detail_a_1:hover{
    color: #FF3366;
}

.detail_name{
    margin-top: 10px;
}

.name_tk{
    font-size: 20px;
    color: #174A84;
    font-weight: bold;
}

.info_tk{
    margin-top: 30px;
}

table{
    border:1px solid #174A84;
    width: 100%;
}

tr{
    color: #174A84;
    border:1px solid #174A84;
}

td{
    height: 45px;
    border:1px solid #174A84;
    color: #174A84;
}

.report_title h1{
    color: #174A84;
    font-size: 21px;
    font-weight: bold;
}

.report_title p{
    color: #A5C9FF;
    font-size: 14px;
}

.report_title_2 p{
    font-size: 35px;
    color: #174A84;
    font-weight: bold;
}

.table_2{
    margin-top: 30px;
}

.table_2_table thead tr td{
    background: #065387;
    color: white;
}

.table_3{
    margin-top: 30px;
}

.table_5{
    margin-top: 30px;
}

.table_6{
    margin-top: 30px;
}

.table_6_table{
    height: 496px;
}

.table_6_table thead tr td{
    background: #065387;
    color: white;
}

.table_6_table tbody tr td{
    height: 166px;
}

.table_6_table textarea{
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 15px;
}

.detail_button_2{
    margin-top: 30px;
    margin-bottom: 20px;
}

th{
    height: 35px;
    font-weight: initial;
    color: #174A84;
}

.th_left{
    background: #065387;
    color: white;
    width:30%;
}

.th_right{
    padding-left: 20px;
    color: black;
}

.th_right input{
    border: none;
}

.th_right input:focus{
    outline: none;
}

.th_right input::placeholder{
    text-align: center;
}

.th_title{
    height: 56px;
}

.detail_button{
    margin-top: 10px;
}

.detail_button button{
    background: #CAE8FF;
    border-radius: 5px;
    border: none;
    height: 45px;
    width: 150px;
}

.delivery_button{
    background: #065387;
    color: white;
    border-radius: 5px;
    border: none;
    height: 45px;
    width: 150px;
    font-weight: bold;
}

.cancel_button{
    margin-top: 10px;
    background: #C8C8C8;
    border-radius: 5px;
    border: none;
    height: 45px;
    width: 150px;
    font-weight: bold;
}

.table_5_table thead tr td{
    background: #065387;
    color: white;
}

.info_kh p{
    margin-top: 15px;
    color: #222222;
    text-align: left;
    margin-left: 20px;
}

.b-rating{
    color: black;
}

.b-rating b{
    font-size: 16px;
    color: #174A84;
}

.back_icon a{
    color: #174A84;
    font-size: 16px;
}

.back_icon a:hover{
    text-decoration: none;
}

@media screen and (max-width: 384px){
    .cancel_button{
        margin-left: 0px;
    }
}